{{#contentFor 'pageStyles'}}
        <link rel="stylesheet" type="text/css" href="./css/tb.ui.min.css">
        <link rel="stylesheet" href="./css/style_main.css">
{{/contentFor}}


        <header class="site-header">
  <div class="container">
    <nav class="navbar" role="navigation">
      <div class="navbar-header">

		<img src="./images/logo.jpg">
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="">首页</a></li>
          <li><a href="#">帮助</a></li>
        </ul>
        <ul class="navbar-button pull-right">
          <li><a class="btn btn-default" href="login.html" target="_blank">登录</a></li>
          <li><a class="btn btn-primary" href="signup.html" target="_blank">注册</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

        
            <div class="site-jumbotron jumbotron">
  <div class="row">
    <div class="jumbotron-words">

	   <p><a class="btn btn-primary btn-lg" role="button" href="\room" target="_blank">进入教室</a></p>
      <ul class="app-list clearfix">
        <li>
          <a href="#">
            <div class="app-icon board"></div>
            <p class="app-name">数学</p>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="app-icon wall"></div>
            <p class="app-name">物理</p>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="app-icon library"></div>
            <p class="app-name">化学</p>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="app-icon event"></div>
            <p class="app-name">日程表</p>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="app-icon review"></div>
            <p class="app-name">回顾</p>
          </a>
        </li>
      </ul>
     
    </div>

  </div>
</div>

   

  <div class="portrait"></div>
</a>
        

        <div class="site-content">
            <div class="container">
  <div class="index-cases">


    <!-- contact us -->
    <div class="row divide-line">
      <img src="./images/line.png">
      <p class="divide-content">随时联系我们</p>

    </div>
    <div class="contact-cases clearfix">
      <div class="contact-item col-md-4">
        <div class="contact-icon location"></div>
        <div class="contact-info">
          <h3>地址</h3>
          <p>北京市海淀区天秀路</p>
        </div>
      </div>
      <div class="contact-item col-md-4">
        <div class="contact-icon phone"></div>
        <div class="contact-info">
          <h3>电话</h3>
          <p>400-060-5576</p>
        </div>
      </div>
      <div class="contact-item col-md-4">
        <div class="contact-icon email"></div>
        <div class="contact-info">
          <h3>邮箱</h3>
          <p>support@3qteacher.com</p>
        </div>
      </div>
    </div>
  </div>
</div>



        </div>

        <footer class="site-footer">
  <div class="container">
    <div class="col-md-7">
      <ul class="footer-nav clearfix">
        <li>
          <a href="">关于我们</a>
        </li>
        <li>
          <a href="">联系我们</a>
        </li>
        <li>
          <a href="">更新日志</a>
        </li>
        <li>
          <a href="">隐私条款</a>
        </li>
        <li>
          <a href="">官方博客</a>
        </li>
      </ul>
      <p class="copyright">Copyright © 2013-2014 3Q Teacher Ltd.</p>
      <div class="sns-info">
        <a class="sina-info" href="http://weibo.com/teambition" target="_blank"></a>
        <a class="qq-info">
          <div class="pop">
            <label>官方 QQ 群</label>
            <p>群1：364685842</p>
        <!--     <p>群2：305699075</p>
            <p>群3：371172684</p> -->
          </div>
        </a>
        <a class="weixin-info">
          <div class="pop">
            <label>微信客服</label>
            <p>请扫描二维码</p>
            <div class="qr-wrapper"></div>
          </div>
        </a>
        <a class="douban-info" href="http://www.douban.com/group/425012/" target="_blank"></a>
      </div>
    </div>
    <div class="col-md-5">
      <!-- <a href="https://today.ai/" class="product">
        <div class="product-logo today"></div>
        <p class="product-name">Today</p>
      </a> -->
      <a href="./public/Teambition・项目协作工具.htm" class="product">
        <div class="product-logo project"></div>
        <p class="product-name">3QTeacher</p>
      </a>
    </div>
  </div>
  <a href="https://mixpanel.com/f/partner">
    <img src="./images/badge_blue.png" alt="Mobile Analytics">
  </a>
</footer>

{{#contentFor 'pageScripts'}}
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>


{{/contentFor}}

